<%= form_for @user, url: password_reset_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:" %></h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <%= msg %>
        <% end %>
    </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.text_field :password, class: "form-control", placeholder: "Password"%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.text_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.submit 'Save', class: "btn btn-info" %>
    </div>
  </div>
<% end %>

