= form_for @user, :html => {:class => "form-horizontal"} do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    =f.label :email, class: "control-label"
    .controls
      =f.text_field :email
  .control-group
    =f.label :first_name, class: "control-label"
    .controls
      =f.text_field :first_name
  .control-group
    =f.label :last_name, class: "control-label"
    .controls
      =f.text_field :last_name
  .control-group
    =f.label :city, class: "control-label"
    .controls
      =f.text_field :city
  .control-group
    =f.label :state, class: "control-label"
    .controls
      =f.text_field :state
  .control-group
    =f.label :about, class: "control-label"
    .controls
      =f.text_field :about
  .control-group
    =f.label :country, class: "control-label"
    .controls
      =f.text_field :country
  .control-group
    =f.label :password, class: "control-label"
    .controls
      =f.text_field :password
  .control-group
    =f.label :password_confirmation, "Confirmation", class: "control-label"
    .controls
      =f.text_field :password_confirmation
  .control-group
    .controls
      - if @user.new_record?
        = f.submit 'Sign up', class: "btn btn-info"
      - else
        = f.submit 'Save', class: "btn btn-info"
