<%= form_for [@user, @adventure],:html => {:class => "form-horizontal"}  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:" %></h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <%= msg %>
        <% end %>
    </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.text_field :from, class: "form-control", placeholder: "From" %>
  </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.text_field :to , class: "form-control", placeholder: "To"%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= f.text_field :departure_time, class: "form-control", placeholder: "Departure Time"%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
        <%= f.submit 'Save', class: "btn btn-info" %>
    </div>
  </div>
<% end %>
