= form_for @adventure do |f|
  - if @adventure.errors.any?
    #error_explanation
      %h2= "#{pluralize(@adventure.errors.count, "error")} prohibited this adventure from being saved:"
      %ul
        - @adventure.errors.full_messages.each do |msg|
          %li= msg

  .field
    = hidden_field_tag :user_id, current_user.id
  .field
    = f.label :from
    = f.text_field :from
  .field
    = f.label :to
    = f.text_field :to
  .field
    = f.label :departure_time
    = f.text_field :departure_time
  .actions
    = f.submit 'Save'
