%h1 Listing adventures

%table
  %tr
    %th From
    %th To
    %th Departure Time
    %th
    %th
    %th

  - @adventures.each do |adventure|
    %tr
      %td= adventure.from
      %td= adventure.to
      %td= adventure.departure_time
      %td= link_to 'Show', user_adventure_path(@user, adventure)
      %td= link_to 'Edit', edit_user_adventure_path(@user, adventure)
      %td= link_to 'Destroy', user_adventure_path(@user, adventure), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Adventure', new_user_adventure_path(current_user)
