%p#notice= notice

%p
  %b From:
  = @adventure.from
%p
  %b To:
  = @adventure.to
%p
  %b Departure Time:
  = @adventure.departure_time

= link_to 'Edit', edit_user_adventure_path(@user, @adventure)
\|
= link_to 'Back', user_adventures_path(@user)
