= form_for @message_box do |f|
  - if @message_box.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message_box.errors.count, "error")} prohibited this message_box from being saved:"
      %ul
        - @message_box.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit 'Save'
