%h1 Listing message_boxes

%table
  %tr
    %th User
    %th
    %th
    %th

  - @message_boxes.each do |message_box|
    %tr
      %td= message_box.user_id
      %td= link_to 'Show', message_box
      %td= link_to 'Edit', edit_message_box_path(message_box)
      %td= link_to 'Destroy', message_box, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Message box', new_message_box_path
