.navbar.navbar-fluid-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href="#") Rambler
      .container.nav-collapse
        %ul.nav.pull-right
          %li
            = link_to "Home", '#'
          %li
            = link_to "Help", '#'
          - if signed_in?
            %l
              = link_to "Sign out", signout_path, method: "delete"
          - else
            %li
              = link_to "Sign up", signup_path
            %li
              = link_to "Sign in", signin_path
            %li
              = link_to "Sigin in with Facebook", url_for("auth/facebook")
