<!DOCTYPE html>
<html>
  <head>
    <title>Quest</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <%= render "layouts/header" %>
    </div>
    <div id="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <div>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
